.places__paragraph {
  margin: 0;
  font-style: normal;
  font-size: 18px;
  line-height: 1.61;
  font-weight: normal;
}

@media screen and (max-width: 1024px) {
  .places__paragraph {
    font-size: 18px;
    line-height: 1.61;
  }
}

@media all and (max-width: 768px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 1.62;
  }
}
