.cover__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: no-repeat url(../../../images/cover-trains.jpg) center center /
    cover;
  min-height: 740px;
  max-width: 1184px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 16px;
  text-decoration: none;
  color: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.cover__link::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  opacity: 0.3;
  background-color: var(--color-background);
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.cover__link:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 62.5vw;
  }
}
