.cover__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  background: no-repeat url(../../../images/cover-trains.jpg) center center /
    cover;
  height: 740px;
  max-width: 1184px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--color-text-1);
}

.cover__link:hover > .cover__overlay {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    height: 62.5vw;
    max-width: 100vw;
  }
}

@media all and (max-width: 520px) {
  .cover__link {
    padding: 0 16px;
  }
}
