.places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 79px;
  margin: 0 auto;
  max-width: 984px;
  padding: 92px 48px;
  -webkit-transition: gap 0.3s ease-in-out, max-width 0.3s ease-in-out,
    padding 0.3s ease-in-out;
  -o-transition: gap 0.3s ease-in-out, max-width 0.3s ease-in-out,
    padding 0.3s ease-in-out;
  transition: gap 0.3s ease-in-out, max-width 0.3s ease-in-out,
    padding 0.3s ease-in-out;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media all and (max-width: 768px) {
  .places {
    gap: 71px;
    max-width: 720px;
    padding: 88px 24px;
  }
}

@media all and (max-width: 520px) {
  .places {
    gap: 49px;
  }
}

@media all and (max-width: 320px) {
  .places {
    max-width: 320px;
    padding: 64px 0;
  }
}
