.places__title {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  font-style: normal;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  -webkit-transition: max-width 0.5s ease-in-out;
  -o-transition: max-width 0.5s ease-in-out;
  transition: max-width 0.5s ease-in-out;
  justify-self: start;
}

@media screen and (max-width: 1024px) {
  .places__title {
    font-size: 72px;
    line-height: 1.05;
  }
}

@media screen and (max-width: 920px) {
  .places__title {
    font-size: 52px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 768px) {
  .places__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 1.1;
  }
}
@media all and (max-width: 520px) {
  .places__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
