.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

@media all and (max-width: 700px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
