.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media all and (max-width: 700px) {
  .footer__links {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    gap: 31px;
  }
}
