.footer__copyright {
  margin: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  -ms-flex-item-align: center;
  align-self: center;
}

@media all and (max-width: 700px) {
  .footer__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: start;
    align-self: start;
  }
}
