.lead__caption {
  margin: 8px 0 0;
  min-width: 158px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-style: normal;
  font-size: 10px;
  line-height: 1.4;
  font-weight: normal;
}

@media all and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media all and (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}
