.header__lang-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  margin: 14px 0 0;
  padding: 0;
  list-style: none;
}

@media all and (max-width: 520px) {
  .header__lang-links {
    margin-top: 8px;
  }
}
